# Explore here

It's recommended to use this notebook for exploration purposes.

In [2]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import pymysql
from dotenv import load_dotenv 
import os
from sqlalchemy import create_engine

In [3]:
#hacemos la solicitud http
url = 'https://en.wikipedia.org/wiki/List_of_most-streamed_songs_on_Spotify'
response = requests.get(url)

In [4]:
#verificar que el código es correcto 
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_most-streamed_songs_on_Spotify')

print(f'Total tables: {len(tables)}')

Total tables: 27

In [5]:
df = tables[0]
df

,Rank,Song,Artist(s),Streams (billions),Release date,Ref.
0,1,"""Blinding Lights""",The Weeknd,4.821,29 November 2019,[2]
1,2,"""Shape of You""",Ed Sheeran,4.341,6 January 2017,[3]
2,3,"""Someone You Loved""",Lewis Capaldi,3.889,8 November 2018,[4]
3,4,"""Starboy""",The Weeknd and Daft Punk,3.872,21 September 2016,[5]
4,5,"""As It Was""",Harry Styles,3.860,1 April 2022,[6]
...,...,...,...,...,...,...
96,97,"""Stay with Me""",Sam Smith,2.286,14 April 2014,[98]
97,98,"""Someone Like You""",Adele,2.281,24 January 2011,[99]
98,99,"""Havana""",Camila Cabello and Young Thug,2.274,3 August 2017,[100]
99,100,"""Memories""",Maroon 5,2.253,20 September 2019,[101]
100,As of 5 May 2025,As of 5 May 2025,As of 5 May 2025,As of 5 May 2025,As of 5 May 2025,As of 5 May 2025

In [ ]:
#PASO 4

df.dropna(inplace=True)
for col in df.columns:
    df[col] = df[col].astype(str).str.replace('$','').str.replace('B', '')
df

PASO 5

In [ ]:
conexion=sqlite3.connect('top_songs.db') 
try: 
    conexion.execute("""CREATE TABLE IF NOT EXISTS most_streamed_songs(
                    rank INT PRIMARY KEY AUTOINCREMENT, 
                    song VARCHAR(255) NOT NULL, 
                    artist VARCHAR(255) NOT NULL,
                    streams_billions INT NOT NULL,
                    release_date DATETIME NOT NULL, 
                    ref INT
                    )""")
    print("Se ha creado la tabla most_streamed_songs")
except sqlite3.OperationalError:
    print("la tabla most_streamed_songs ya existe")
conexion.close

Se ha creado la tabla most_streamed_songs

In [ ]:
conexion=sqlite3.connect("top_songs.db")
conexion.execute("insert into most_streamed_songs(rank, song, artist, streams_billions, release_date, ref) values (?, ?, ?, ?, ?, ?)", (1, "Hablando en plata", "Melendi", 20354845, 2003-5-3, 2))
conexion.execute("insert into most_streamed_songs(rank, song, artist, streams_billions, release_date, ref) values (?, ?, ?, ?, ?, ?)", (2, "Quédate", "Quevedo", 369258147, 2022-11-11, 3))
conexion.execute("insert into most_streamed_songs(rank, song, artist, streams_billions, release_date, ref) values (?, ?, ?, ?, ?, ?)", (3, "Rosas", "La Oreja de Van Gogh", 2365478, 2003-9-26, 3))
conexion.commit()
conexion.close()

In [12]:
conexion=sqlite3.connect("top_songs.db")
cursor=conexion.execute("select rank, song,artist,streams_billions,release_date,ref from most_streamed_songs")
for fila in cursor:
    print(fila)
conexion.close()

(1, 'Hablando en plata', 'Melendi', 20354845, -2001, 2)
(2, 'Quédate', 'Quevedo', 369258147, -2022, 3)
(3, 'Rosas', 'La Oreja de Van Gogh', 2365478, -1986, 3)

Me he dado cuenta que en rank puedo poner autoincrement y que la fecha que yo he puesto esta mal, asi que hago una tabla nueva

In [19]:
conexion=sqlite3.connect('top_songs.db') 
try: 
    conexion.execute("""CREATE TABLE IF NOT EXISTS most_streamed_songs(
                    rank INT PRIMARY KEY AUTOINCREMENT, 
                    song VARCHAR(255) NOT NULL, 
                    artist VARCHAR(255) NOT NULL,
                    streams_billions INT NOT NULL,
                    release_date DATETIME NOT NULL, 
                    ref INT
                    )""")
    print("Se ha creado la tabla most_streamed_songs")
except sqlite3.OperationalError:
    print("la tabla most_streamed_songs ya existe")
conexion.close

la tabla most_streamed_songs ya existe

In [20]:
conexion=sqlite3.connect('top_songs.db') 
try: 
    conexion.execute("""CREATE TABLE IF NOT EXISTS most_streamed_songs_new(
                    rank INT PRIMARY KEY AUTOINCREMENT, 
                    song VARCHAR(255) NOT NULL, 
                    artist VARCHAR(255) NOT NULL,
                    streams_billions INT NOT NULL,
                    release_date DATETIME NOT NULL, 
                    ref INT
                    )""")
    print("Se ha creado la tabla most_streamed_songs_new")
except sqlite3.OperationalError:
    print("la tabla most_streamed_songs_new ya existe")
conexion.close

la tabla most_streamed_songs_new ya existe

Como me da problemas, elimino toda la base de datos para volverla a hacer

In [21]:
db_path = "top_songs.db"

if os.path.exists(db_path):
    os.remove(db_path)
    print("Base de datos anterior eliminada.")

Base de datos anterior eliminada.

In [22]:
conexion=sqlite3.connect('top_songs.db') 
try: 
    conexion.execute("""CREATE TABLE IF NOT EXISTS most_streamed_songs(
                    rank INT PRIMARY KEY AUTOINCREMENT, 
                    song VARCHAR(255) NOT NULL, 
                    artist VARCHAR(255) NOT NULL,
                    streams_billions INT NOT NULL,
                    release_date DATETIME NOT NULL, 
                    ref INT
                    )""")
    print("Se ha creado la tabla most_streamed_songs")
except sqlite3.OperationalError:
    print("la tabla most_streamed_songs ya existe")
conexion.close

la tabla most_streamed_songs ya existe