# Explore here

It's recommended to use this notebook for exploration purposes.

In [6]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import pymysql
from dotenv import load_dotenv 
import os
from sqlalchemy import create_engine

In [2]:
#hacemos la solicitud http
url = 'https://en.wikipedia.org/wiki/List_of_most-streamed_songs_on_Spotify'
response = requests.get(url)

In [3]:
#verificar que el código es correcto 
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_most-streamed_songs_on_Spotify')

print(f'Total tables: {len(tables)}')

Total tables: 27

In [4]:
df = tables[0]
df

,Rank,Song,Artist(s),Streams (billions),Release date,Ref.
0,1,"""Blinding Lights""",The Weeknd,4.823,29 November 2019,[2]
1,2,"""Shape of You""",Ed Sheeran,4.343,6 January 2017,[3]
2,3,"""Someone You Loved""",Lewis Capaldi,3.891,8 November 2018,[4]
3,4,"""Starboy""",The Weeknd and Daft Punk,3.874,21 September 2016,[5]
4,5,"""As It Was""",Harry Styles,3.862,1 April 2022,[6]
...,...,...,...,...,...,...
96,97,"""Stay with Me""",Sam Smith,2.287,14 April 2014,[98]
97,98,"""Someone Like You""",Adele,2.282,24 January 2011,[99]
98,99,"""Havana""",Camila Cabello and Young Thug,2.275,3 August 2017,[100]
99,100,"""Memories""",Maroon 5,2.254,20 September 2019,[101]
100,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025

In [5]:
#PASO 4

df.dropna(inplace=True)
for col in df.columns:
    df[col] = df[col].astype(str).str.replace('$','').str.replace('B', '')
df

,Rank,Song,Artist(s),Streams (billions),Release date,Ref.
0,1,"""linding Lights""",The Weeknd,4.823,29 November 2019,[2]
1,2,"""Shape of You""",Ed Sheeran,4.343,6 January 2017,[3]
2,3,"""Someone You Loved""",Lewis Capaldi,3.891,8 November 2018,[4]
3,4,"""Starboy""",The Weeknd and Daft Punk,3.874,21 September 2016,[5]
4,5,"""As It Was""",Harry Styles,3.862,1 April 2022,[6]
...,...,...,...,...,...,...
96,97,"""Stay with Me""",Sam Smith,2.287,14 April 2014,[98]
97,98,"""Someone Like You""",Adele,2.282,24 January 2011,[99]
98,99,"""Havana""",Camila Cabello and Young Thug,2.275,3 August 2017,[100]
99,100,"""Memories""",Maroon 5,2.254,20 September 2019,[101]
100,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025,As of 6 May 2025

PASO 5

In [7]:
conexion=sqlite3.connect('top_songs.db') 
try: 
    conexion.execute("""CREATE TABLE IF NOT EXISTS most_streamed_songs(
                    rank INTEGER PRIMARY KEY AUTOINCREMENT, 
                    song VARCHAR(255) NOT NULL, 
                    artist VARCHAR(255) NOT NULL,
                    streams_billions INT NOT NULL,
                    release_date DATETIME NOT NULL, 
                    ref INT
                    )""")
    print("Se ha creado la tabla most_streamed_songs")
except sqlite3.OperationalError:
    print("la tabla most_streamed_songs ya existe")
conexion.close

Se ha creado la tabla most_streamed_songs

In [8]:
conexion=sqlite3.connect("top_songs.db")
conexion.execute("insert into most_streamed_songs(song, artist, streams_billions, release_date, ref) values (?, ?, ?, ?, ?)", ("Hablando en plata", "Melendi", 20354845, "2003-05-03", 2))
conexion.execute("insert into most_streamed_songs(song, artist, streams_billions, release_date, ref) values (?, ?, ?, ?, ?)", ("Quédate", "Quevedo", 369258147, "2022-11-11", 3))
conexion.execute("insert into most_streamed_songs(song, artist, streams_billions, release_date, ref) values (?, ?, ?, ?, ?)", ("Rosas", "La Oreja de Van Gogh", 2365478, "2003-09-26", 4))
conexion.commit()
conexion.close()

PASO 6

In [9]:
conexion=sqlite3.connect("top_songs.db")
cursor=conexion.execute("select rank, song,artist,streams_billions,release_date,ref from most_streamed_songs")
for fila in cursor:
    print(fila)
conexion.close()

(1, 'Hablando en plata', 'Melendi', 20354845, '2003-05-03', 2)
(2, 'Quédate', 'Quevedo', 369258147, '2022-11-11', 3)
(3, 'Rosas', 'La Oreja de Van Gogh', 2365478, '2003-09-26', 4)